@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nerko+One&family=Unbounded:wght@200;900&family=Zen+Dots&display=swap');
.bgvid video{
width: 100%;
height: 70vh;
position: absolute;
top: 0;
left: 0;
object-fit: cover;
z-index: 1;
}
.bgvid{
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-text{
    color: aquamarine;
    z-index: 2;
    font-family: Bebas Neue;
    font-size: larger;
    
}
.effect{
width: 100%;
height: 70vh;
position: absolute;
top: 0;
left: 0;
object-fit: cover;
z-index: 2;
background-color: rgba(0, 0, 0, 0.288);
}